NEYNAR_API_KEY=
NEYNAR_SIGNER_UUID=194bbb57-3382-433c-8faa-01285628928a
FARCASTER_CHANNEL_ID=cubs
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
CRON_SECRET=
BOT_ENABLED=true
NEWS_ENABLED=true
TWITTER_ENABLED=true
TWITTER_API_KEY=
TWITTER_API_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=
